name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        jdk:
          - version: 17
          - version: 21
          - version: 25
    runs-on: ubuntu-latest
    name: "Build (JDK ${{ matrix.jdk.version }})"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        id: setup-gradle-jdk
        with:
          distribution: liberica
          java-version: 17
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        if: matrix.jdk.version != '17'
        with:
          distribution: ${{ matrix.jdk.distribution || 'liberica' }}
          java-version: ${{ matrix.jdk.version }}
      - name: 'Prepare TOOLCHAIN_JDK env var'
        if: matrix.jdk.version != '17'
        shell: bash
        run: echo "TOOLCHAIN_JDK=$JAVA_HOME" >> $GITHUB_ENV
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - uses: testlens-app/setup-testlens@aa97c5917d05d7cd6aec289d31fc790935924d59 # v1.5.1
      - shell: bash
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
          JAVA_HOME: ${{ steps.setup-gradle-jdk.outputs.path }}
        run: |
          ./gradlew \
          -Porg.gradle.java.installations.auto-download=false \
          -Pjunit.develocity.predictiveTestSelection.selectRemainingTests=${{ github.event_name != 'pull_request' }} \
          "-Dscan.value.GitHub job=${{ github.job }}" \
          -Dscan.tag.JDK_${{ matrix.jdk.version }} \
          -PjavaToolchainVersion=${{ matrix.jdk.version }} \
          --scan \
          --refresh-dependencies \
          javaToolchains \
          build
  ea-build:
    strategy:
      matrix:
        jdk: [ '26' ]
    runs-on: ubuntu-latest
    name: "Early Access Build (JDK ${{ matrix.jdk }})"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        id: setup-gradle-jdk
        with:
          distribution: liberica
          java-version: 17
      - uses: oracle-actions/setup-java@fff43251af9936a0e6a4d5d0946e14f1680e9b6b # v1.5.0
        with:
          website: jdk.java.net
          release: ${{ matrix.jdk }}
          version: latest
      - name: 'Prepare TOOLCHAIN_JDK env var'
        shell: bash
        run: echo "TOOLCHAIN_JDK=$JAVA_HOME" >> $GITHUB_ENV
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - shell: bash
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
          JAVA_HOME: ${{ steps.setup-gradle-jdk.outputs.path }}
        run: |
          ./gradlew \
          -Porg.gradle.java.installations.auto-download=false \
          -Pjunit.develocity.predictiveTestSelection.selectRemainingTests=${{ github.event_name != 'pull_request' }} \
          "-Dscan.value.GitHub job=${{ github.job }}" \
          -Dscan.tag.JDK_${{ matrix.jdk }} \
          -PjavaToolchainVersion=${{ matrix.jdk }} \
          --scan \
          --refresh-dependencies \
          javaToolchains \
          build
  publish:
    name: Publish Snapshots
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.repository == 'junit-team/testng-engine' && (startsWith(github.ref, 'refs/heads/releases/') || github.ref == 'refs/heads/main')
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: liberica
          java-version: 17
      - uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
      - shell: bash
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        run: |
          ./gradlew \
          -Porg.gradle.java.installations.auto-download=false \
          "-Dscan.value.GitHub job=${{ github.job }}" \
          -Dscan.tag.publish \
          --scan \
          javaToolchains \
          publishAllPublicationsToMavenCentralSnapshotsRepository \
          -x check \
          --no-configuration-cache
